<!DOCTYPE html>
<html lang="en">

<head>
  <title>How to store image path in MySQL database using Node js - Tutsmake.com</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
   <h1>How to store image path in MySQL database using Node js - Tutsmake.com</h1>
  <form action="http://localhost:4000/service/:id" enctype="multipart/form-data" method="put">

    <input type="file" name="image" accept='image/*'>
    <input type="text" name="Name_Service">
    <input type="text" name="Description_Service">
    <input type="number" name="Prix_Service">
    <input type="datetime-local" name="heure_depart">
    <input type="number" name="nbre_place">


    <input type="submit" value="Upload">
  </form> 
  <!-- <h1>How to store image path in MySQL database using Node js - Tutsmake.com</h1>
  <form action="http://localhost:4000/service/service"  method="post">

    
    <input type="datetime-local" name="Description_Service">
    
    <input type="submit" value="Upload">
  </form> -->
</body>

</html>